<div class="row">
            Log in:
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <!-- <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div> -->
      <div class="row">
                  Sign up:
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="input-field col s6">
        <input id="username" type="text" class="validate">
        <label for="username">Create a Username</label>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
    </form>
  </div>


<!-- <h3 class='landing'>Login</h3><br>
<form class="login" ng-submit="auth.login(userObject)" method="post">
  <input type="text" name="username" placeholder="Username Goes Here" ng-model="userObject.username"><br><br>
  <input type="password" name="password" placeholder="Password Goes Here" ng-model="userObject.password"><br><br>
  <button class='nice-button' type="submit" name="login">Login</button>
</form>
<br><br>
<br>
<h3 class='landing'>Sign Up</h3><br>
<form class="register" ng-submit="auth.register(userObject)" method="">
  <input type="text" name="username" placeholder="Create a username!" ng-model="userObject.usernamereg"><br><br>
  <input type="password" name="password" placeholder="Create your password!" ng-model="userObject.passwordreg"><br><br>
  <button class='nice-button' type="submit" name="register">Register</button>
</form> -->
