<script type="text/javascript">
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
<br>
<div class='container'>
<h2>Browse our fonts:</h2>
<div class='choose-font'>
<jd-fontselect class='blue-grey lighten-5' class='dropdown' state='myStateObject' stack="myFontStack" ng-model='user.favorite'></jd-fontselect>

<div class='text-flex'>
<textarea class='example-text' ng-model='site.repeatText' placeholder="Write your sample text in here">
</textarea>
<div class='text-container'>
<textarea readonly class='example-text2' style="font-family: {{myFontStack}};font-size:{{site.fontSize}}px" ng-model='site.repeatText'>
</textarea>
</div>
<br><br>
<div class='fav-size'>
<button class="waves-effect waves-light blue-grey lighten-3 btn" type='submit' ng-click='site.addToFavorites(myFontStack, site.user.id)'> Favorite</button>
<div class='font-container'>
<input class='size-input' type='number' name='fontSize' min='4' max='72' ng-model='site.fontSize' placeholder='Change Your Font Size'>
</div></div>

</div>
</div>
</div>

<!-- <h2 >Your Favorite Fonts:</h2> -->
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header" ng-click="site.showFavorites(site.user.id)"><i class="material-icons">star border</i>Favorite Fonts</div>
      <div class="collapsible-body">
        <ul ng-repeat='font in site.fonts track by $index'>
          <li style="font-family: {{font.font_family}};">{{font.font_family}}<div class="chip" style="font-family: Roboto">Delete<i class="close material-icons" ng-click='site.deleteFavorite(site.user.id, site.fonts[$index].id)'>close</i></div></li>
        </ul>
      </div>
    </li>
    <!-- <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Favorite Fonts</div>
      <div class="collapsible-body"><p>hi</p></div>
    </li> -->
  </ul>
<!-- </div> -->

<a ui-sref='profile.changePass' ui-sref-active='active'>Change Your Password</a>
<div ui-view><div>
