<script type="text/javascript">
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>

<br><br>
<div class='container'>
<h4 class='profile-header'>Browse fonts. Add to Favorites.</h4>
<div class='choose-font'>
<jd-fontselect class='blue-grey lighten-5' class='dropdown' state='myStateObject' stack="myFontStack" ng-model='user.favorite'></jd-fontselect>

<div class='text-flex'>
<textarea class='example-text' ng-model='site.repeatText' placeholder="Write your sample text in here. See it below.">
</textarea>
<div class='text-container'>
<textarea readonly class='example-text2' style="font-family: {{myFontStack}};font-size:{{site.fontSize}}px" ng-model='site.repeatText'>
</textarea>
</div>
<br><br>
<div class='fav-size'>
<button class="waves-effect waves-light blue-grey lighten-3 btn" type='submit' ng-click='site.addToFavorites(myFontStack, site.user.id)'>Favorite</button>
<div class='font-container'>
<input class='size-input' id='input5' type='number' name='fontSize' min='4' max='72' ng-model='site.fontSize' placeholder='Change Your Font Size'>
</div></div>

</div>
</div>
</div>

<!-- <h2 >Your Favorite Fonts:</h2> -->
<div class="container" class="blue-text text-darken-2">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header" ng-click="site.showFavorites(site.user.id)"><i class="material-icons" class="blue-text text-darken-2">star border</i>Favorite Fonts</div>
      <div class="collapsible-body">
        <ul ng-repeat='font in site.fonts track by $index'>
          <li  id='icon-padding' style="font-family: {{font.font_family}};">{{font.font_family}}

            <a class="btn-floating btn-small waves-effect waves-light blue-grey lighten-3" ng-click='site.deleteFavorite(site.user.id, site.fonts[$index].id)'><i class="material-icons">close</i></a></li>
        </ul>
      </div>
    </li>
    <li>
      <a ui-sref='profile.changePass' class="collapsible-header"><i class="material-icons">person</i>Change Your Email or Password</a>
      <div ui-view class="collapsible-body"></div>
    </li>
  </ul>
</div>



<!-- </div> -->
