<script type="text/javascript">
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
<br>
<div class='container'>
<h2>Browse our fonts:</h2>
<div class='choose-font'>
<jd-fontselect class='dropdown' state='myStateObject' stack="myFontStack" ng-model='user.favorite'></jd-fontselect>
<label for='fontSize'>Size: </label><input type='number' name='fontSize' min='4' max='72' ng-model='site.fontSize'>
<div class='text-container'>
<p class='example-text' style="font-family: {{myFontStack}};font-size:{{site.fontSize}}px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ipsum tortor, quis auctor odio ornare id. Donec blandit felis lectus, viverra malesuada urna aliquam quis. Donec massa massa, egestas at condimentum quis, pharetra a dui. Donec ac leo a justo ullamcorper pulvinar nec at arcu. Etiam pretium cursus magna, nec vulputate orci tincidunt ut. Fusce cursus malesuada ligula at varius. Mauris interdum tempus neque id aliquet.
<br><br>
<button type='submit' ng-click='site.addToFavorites(myFontStack, site.user.id)'>Add To Favorites</button>
</p>
</div>
</div>
</div>

<!-- <h2 >Your Favorite Fonts:</h2> -->
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header" ng-click="site.showFavorites(site.user.id)"><i class="material-icons">star border</i>Favorite Fonts</div>
      <div class="collapsible-body">
        <ul ng-repeat='font in site.fonts track by $index'>
          <li ng-if="font.user_id == site.user.id" style="font-family: {{font.font_family}};">{{font.font_family}}<div class="chip" style="font-family: Roboto">Delete<i class="close material-icons" ng-click='site.deleteFavorite(site.user.id, site.fonts[$index].id)'>close</i></div></li>
        </ul>
      </div>
    </li>
    <!-- <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Favorite Fonts</div>
      <div class="collapsible-body"><p>hi</p></div>
    </li> -->
  </ul>
<!-- </div> -->

<a ui-sref='profile.changePass' ui-sref-active='active'>Change Your Password</a>
<div ui-view><div>
