/*HOME PAGE*/
.cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.animation {
  display: flex;
  justify-content: center;
}

#home-container {
  margin:auto;
  padding-top: 20vh;
  text-align: center;
}

/*PROFILE PAGE*/
.choose-font {
  display: flex;
  /*justify-content: space-around;*/
  align-items:baseline;
  padding: 5vh;
}

.text-container {
  width: 80%;
  margin: 0 0 0 7vh;
  /*padding: 10vh;*/
}

.example-font {
  /*width: 90%;*/
}

.fav {
  text-align: center;
}

.dropdown {
  /*width: 70%;*/
}

/*LOGIN PAGE */

.container {
  margin: auto;
  width: 80%;
}

/*.profile-name {
  text-align: center;
}*/
