/*INDEX PAGE*/

/*HOME PAGE*/

.cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.animation {
  display: flex;
  justify-content: center;
}

#home-container {
  margin:auto;
  padding-top: 20vh;
  text-align: center;
}

/*PROFILE PAGE*/

.choose-font {
  display: flex;
  /*justify-content: space-around;*/
  align-items:baseline;
  padding: 2vh;
}

.text-flex {
  display: flex;
  flex-direction: column;
  padding: 5vh;
}

.text-container {
  /*width: 70%;*/
  /*margin: 0 0 0 7vh;*/
  padding: 2vh 0 0 0;
}

.example-font {
  /*width: 90%;*/
}

.fav-size {
  display: flex;
  justify-content: space-between;
}

.fav {
  text-align: center;
}

.dropdown {
  /*width: 70%;*/
  /*padding: 2vh;*/
}

.font-container {
  width: 50%;
}

.size-input {
  padding: 2vh;
}

.example-text {
  width: 40vh;
  height: 10vh;
  border:1px solid #263238;
  text-align: center;
  outline: none;
  overflow: auto;
  padding: 10px;
}

.example-text2 {
  width: 40vh;
  height: 10vh;
  /*border:1px solid #263238;*/
  text-align: center;
  outline: none;
  overflow: auto;
  padding: 10px;
  border: none;
}

/*LOGIN PAGE */

.container {
  margin: auto;
  width: 80%;
}

/*.profile-name {
  text-align: center;
}*/

/*ALL TYPES PAGE*/

.types-flex {
  display: flex;
  justify-content: space-around;
}

.user-box {
  background: black;
  text-align: center;
  color: white;
  width: 100px;
  height: 50px;
  margin: 5vh;
}

.user {
  margin: auto;
  padding: 1.5vh;
}

.user-box:hover {
  background: gray;
}
